{% extends 'base.html' %}

<!--Create title insertion-->
{% block title %}{{ page.title }}{% endblock %}

{% block custom_stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}">
{% endblock %}

{% block side_nav %}
{# Make CSS to put nav bar statically on left side over background #}
<div class="container">
    <nav class="side_nav" id="SideNav">
        <ul>
            <li><a href="#article_top">{{ page.title }}</a></li>
            {% for header in page_nav %}
                <li><a href="#{{ header.id }}">{{ header.text }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <button id="toggleButton">&#62;</button>
</div>
{% endblock %}


{% block foreground_content %}
<h1 id="article_top">{{ page.title }}</h1>
<small>Created: {{ page.date }}</small>
<br>
<small>Last Updated: {{ page.date_updated }}</small>
<!-- Page Content here -->
{{ html_content|safe }}

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='javascript/article.js')}}"></script>
{% endblock %}