{% extends 'base.html' %}

{% block custom_stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects_homepage.scss.css') }}">

{% endblock %}

{% block foreground_content %}

    <h1 class = "h1-heading">Projects</h1>

    <div class="container">
    <h2>Recent Articles</h2>
        <ul>
            {% for article in recent_articles %}
                <li><a href="{{ article.path }}.html">{{article.title}}</a></li>    
            {% endfor %}
        </ul>
    </div>
      
        
      
{% endblock %}