{% extends 'base.html' %}

{% block title %}Always Under Development{% endblock %}

{% block custom_stylesheet %}
<link rel="stylesheet" href=" {{ url_for('static', filename= 'css/index_homepage.scss.css') }}">
{% endblock %}


{% block foreground_content %}


			
			<div id="Index_About_Me">
				<h1>"Win Through Your Actions, Never Through Argument"</h1>
				<h2><i>-Robert Green</i></h2>
					<p>
						Welcome to (Alt)Tabbackin. This is a personal project to create a hub of writeups and ideas on my journey of breaking out of "Tutorial Hell."
					</p>
				
			</div>



{% endblock %}