.container {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding-right: 10px;
    z-index: 20;
}

.side_nav {
    width: fit-content; 
    height: fit-content;
    padding: 10px;
    display: none;
    z-index: 20;
    
}

.side_nav ul {
    color: black;
    text-decoration: none;
}

button#toggleButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 20px 5px;
  background-color: whitesmoke rbga(0, 0, 0, 0.3);
  border: none;
  font-size: 16px;
  cursor: pointer;
}