@import "modules/spatial_orientation";
@import "modules/website_theme.scss";


body {
    color: map-get($colorscheme, primary_text_color);

    /* background */
    background-color: #000;
    background-image: url('../images/Generic_Blue_Background.png');
    background-repeat: repeat-y;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: map-get($z-index-reference, background);

}


.foreground {

    /* border setting */
    margin-top: calc(100vh-14px-16px);
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;

    /* readability */
    background-color: rgba(50,50,50,.5);

    /* scrolling capability */
    position: relative;
    z-index: map-get($map: $z-index-reference, $key: foreground);
    height: 80vh;
    overflow-y: auto;


}

h1 {
    font-size: 250%;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 200%;
}

p {
    font-size: 125%;
}

.Base_Nav_Bar {
    margin-left: 0%;
    margin-right: 2%;

    z-index: map-get($map: $z-index-reference, $key: nav_bar);
}

.Base_Nav_Bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    
}

.Base_Nav_Bar li {
    float: left;
}

.Base_Nav_Bar a {
    display: block;
    color: map-get($colorscheme, primary_text_color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Base_Nav_Bar li a:hover {
    background-color: #111;
}

#Base_Social_Media {
    margin-left: 5%;
}

