/*Experimental code meant to be moved elsewhere in the page*/

.Project_Language_Title {
    /*border-bottom: 1px solid black;
    border-top: 1px solid black;
    */

    font-family: 'Roboto', sans-serif; 
    font-size: 16px; 
    color: #000; 
    background-color: #ccc; 
    padding: 10px 20px; 
    border-radius: 5px; 
}
  
/*Experimental code END*/

.container {
    position: relative;
    
}
  
.title {
    cursor: pointer;
    background:#5c5c5c;
    padding:10px 20px 10px 20px ;
    border-radius: 5%;
}

.container a {
    cursor: pointer;
    background: #5c5c5c;
    padding:5px 10px 5px 10px ;
    border-radius: 10%;
    color: white;
}

.container a:hover {
    background-color: #5c5c5c;
}