<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/base.scss.css') }}">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block custom_stylesheet %}

		{% endblock %}
	</head>
	<body>
		<nav class="Base_Nav_Bar">
			<!--Navigation bar-->
			<!--Create the buttons-->
			<ul>
				<li><a href='{{ url_for("home_page.index") }}'>Home</a></li>
				<li><a href='{{ url_for("projects.projects") }}'>Projects</a></li>
			</ul>
			
		</nav>
		{% block side_nav %}
			{# Be sure to put in:
			<nav class="Side_Nav">
			
			</nav>
			where needed.
			#}  
		{% endblock %}
		<div class="foreground">
			{% block foreground_content %}

			{% endblock %}
		</div>
		<footer class="Base_Social_Media">

			<h2>Other Accounts and Activity</h2>
			<a href="https://www.linkedin.com/in/andrew-martin-227186134/"><img src=" {{ url_for('static', filename='images/Linkedin-Logo.png') }}" style="width:8%;height:5%;"></a>
			<br>
			<a href="https://gitlab.com/AltTabLife"><img src='{{ url_for("static", filename="images/gitlab-logo.png") }}' style="width:5%; height:5%"></a>

		</footer>
	
	{% block javascript %}{% endblock %}
	</body>
</html>
